button {
  height: 32px;
  padding-left: 24px;
  padding-right: 24px;
  border-style: none;
  background-color: #1560BD;
  color: white;
}

button:hover {
  background-color: #023E8A;
}

button:active {
  background-color: #1560BD;
}