form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  max-width: 480px;
}

.form-section {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-left: 16px;
  border-left-style: solid;
  border-width: 2px;
  border-color: #C4C4C4;
}

.form-input-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.input-text {
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;
  width: 240px;
  height: 32px;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 2px;
  border-color: #C4C4C4;
  border-bottom-color: #A4A4A4;
  background-color: #FFFFFF;
  resize: none;
}

.form-message {
  font-size: 14;
}

.form-message-success {
  font-size: 14;
  color: #00AA00;
}

.form-message-failure {
  color: #FF0000;
}
