@import url("common/navbar.css");
@import url("common/sidebar.css");
@import url("common/form.css");
@import url("common/button.css");

* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

body {
  min-height: 100vh;
  margin: 0px;
}

header {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}

footer {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 12px;

  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
}

.content {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}